body {
  margin: 0;
  padding: 0;
  background-color: #CBCB67;
}
h1 {
  font-family: "Helvetica", Times, serif;
  font-size: 40px;
  color: white;
  text-align: center;
}

#menu {
  text-align: center;
}

#CanvasBox {
  text-align: center;
}